@import url(reset.min.css);

@font-face {
    font-family: 'ClashGrotesk';
    font-style: normal;
    font-weight: 400 700;
    font-display: swap;
    src: url('/assets/fonts/ClashGrotesk-Variable.woff2') format('woff2');
}

:root {
    /* Colors */
    --orange: #F7B731;
    --purlple: #4167F1;
    --pink: #E77ED9;
    --green: #11AC84;
    --white: #FFFFFF;
    --white-dark: #F8F8F8;
    --black: #000000;
    --gray: #666666;
    --gradient-1: linear-gradient(120.98deg, #70B6FF 0%, #FFC6F3 58.06%, #8F83F7 87.28%);
    --gradient-2: linear-gradient(120.12deg, #FF8FE8 0%, #FFC960 100%);

    /* Typography */
    --font-family: 'ClashGrotesk';
    --fw-400: 400;
    --fw-500: 500;
    --fw-700: 700;

    /* Border Radius */
    --border-md: 12px;
    --border-sm: 6px;

    /* Transitions */
    --transition-fast: 0.2s;
    --transition-slow: 0.5s;
}

html {
    font-size: 62.5%;
    line-height: 1.6;
    height: -webkit-fill-available;
}

body {
    font-size: clamp(1.6rem, 0.75rem + 1.5vw, 1.8rem);
    font-family: var(--font-family), sans-serif;
    overflow: hidden;

}

/* Reusable classes */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2rem;
}

.btn {
    border-radius: var(--border-md);
    letter-spacing: 0.1rem;
    cursor: pointer;
    transition: var(--transition-fast);
    width: 100%;
    padding: 1.5rem 0;
}

.btn--primary {
    background: var(--white);
    color: var(--black);
}

.btn--secondary {
    background: var(--orange);
    color: var(--white);
}

/* Custom styles */
header {
    background: var(--black);
    position: fixed;
    width: 100%;
    position: relative;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;
}

.nav__logo {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 3.2rem;
    font-weight: var(--fw-700);
    color: var(--white);
    letter-spacing: .2rem;
}

.nav__menu {
    position: absolute;
    background: var(--pink);
    width: 80%;
    left: -100%;
    top: 0;
    transition: var(--transition-slow) ease-in-out;
    height:100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20%;
    text-align: center;
    gap: 3rem;
    font-size: 2.2rem;
}

.nav__menu.active {
    left: 0;
}

.nav__list {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    padding-bottom: 4rem;
    border-bottom: 1px solid var(--gray);
    margin-bottom: 2rem;
}

.nav__actions {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    width:70%;
    font-weight: var(--fw-500);
}

.nav__hamburger {
    background: var(--white);
    height: 45px;
    width: 45px;
    border-radius: var(--border-sm);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: .8rem;
}

.nav__hamburger-line {
    width: 70%;
    height: 4px;
    background: var(--black);
    display: block;
    border-radius: var(--border-sm);
    transition: var(--transition-slow) ease-in-out;
}

.nav__hamburger.active .nav__hamburger-line--1 {
    transform: rotate(45deg) translate(4px, 4px);
}

.nav__hamburger.active .nav__hamburger-line--2 {
    transform: rotate(-45deg) translate(4px, -4px);
}